.app {
    display: block;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(135, 130, 130);
    color: black;
}

input {
    padding: 10px;
    margin: 10px;
    width: 80%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.error {
    color: red;
    font-weight: bold;
}

pre {
    text-align: left;
    background: #f4f4f4;
    padding: 10px;
    width: 87%;
    margin: auto;
}

footer {
    margin-top: 20px;
}