.app {
    display: block;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(135, 130, 130);
    color: black;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

ul {
    display: block;
    justify-content: center;
    list-style: none;
}

input {
    padding: 10px;
    margin: 10px;
    width: 90%;
}